@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/assets/global.css */
body {
    background-color: #1A1A1A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #F8F9FA;
    font-family: 'Poppins', sans-serif;  /* Add sans-serif as fallback */
}


  